.list-image-main {
  width: 100%;
  height: 80vh;
  background-image: url(../../../public/image/main-background.png);
  flex-direction: column;
  .description {
    span {
      font-size: 45px;
      font-weight: 700;
      font-family: "Playfair Display";
      color: rgb(255, 222, 89);
    }
  }
  .list-image {
    margin: 30px auto;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    .item {
      height: 200px;
      width: 300px;
      cursor: pointer;
      overflow: hidden;
      img {
        height: 225px;
        width: 300px;
        object-fit: cover;
      }
    }
  }
}
