.old-ranking-main {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to bottom, #ffbcc8, #ffbfd9);
  .old-ranking-wrapper {
    max-width: 60%;
    width: 100%;
    min-width: 920px;
    height: calc(100% - 20px);
    border: solid 1px #fff;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    .main-description {
      font-size: 24px;
      font-weight: 700;
    }
    .list-old-ranking-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 40px;
      .old-ranking-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        .old-ranking-description {
          font-size: 20px;
          font-weight: 700;
        }
        .caption {
          font-size: 15px;
          white-space: pre-wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4 !important;
          -webkit-box-orient: vertical;
          width: 213px;
        }
        .name {
          font-size: 15px;
          font-weight: 700;
        }
        .avatar {
          vertical-align: middle;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 200px;
            height: 295px;
            object-fit: cover;
          }
        }
      }
    }
    .sub-old-ranking-description {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
