.schedule-main {
  width: 100%;
  height: 80vh;
  background-image: url(../../../public/image/main-background.png);
  background-position: center;

  .schedule-wrapper {
    max-width: 60%;
    width: 100%;
    min-width: 920px;
    height: calc(100% - 20px);
    flex-direction: column;
    justify-content: space-around;
    .main-description {
      span {
        font-size: 45px;
        font-weight: 700;
        font-family: "Playfair Display";
        color: rgb(255, 222, 89);
      }
    }
  }
  .time-line-wrapper {
    position: relative;
    justify-content: space-around;
    width: 100%;
    .time-line-content {
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      width: 33.3%;
      div:nth-child(1),
      .timeline-title {
        font-size: 20px;
        font-family: "Playfair Display";
        font-weight: 700;
        color: rgb(255, 222, 89);
      }
      div:nth-child(2) {
        font-size: 17px;
        font-weight: 600;
        color: #fff;
      }
      .line-wrapper {
        width: 100%;
        .circle {
          z-index: 1;
          height: 20px;
          width: 20px;
          padding: 5px;
          text-align: center;
          border-radius: 50%;
          display: inline-block;
          color: #fff;
          font-size: 1.1em;
          font-weight: 600;
          background-color: #fff;
          border: 5px solid #fff;
          margin: 0;
          position: relative;
        }
        .hight-line {
          width: 100%;
          height: 3px;
          transform: translateY(-30px) translateX(-50%);
          background: #fff;
          &.line-1 {
            transform: translateY(-30px) translateX(50%);
          }
        }
      }
    }
  }
}
